@use '../mixins' as *;
@forward 'variables';
@forward 'headings';
@forward 'form';
@forward 'table';

body {
  min-height: 100vh;
  @include font-sans-regular;
  @include background(surface-0);
  @include text-color(default);
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 5rem;
  padding-block: 3rem;
  flex: 1 0 auto;
  box-sizing: border-box;
}