---
import Header from '@/components/header.astro'
import Footer from '@/components/footer.astro'
import logo from '@/assets/logo-dark.png'
---

<!doctype html>
<html class="dark" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href={logo.src} />
    <meta name="generator" content={Astro.generator} />
    <title>WWM Tools | Master the Realm</title>
  </head>
  <body>
    <Header />
    <main class="wrapper">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global lang="scss">
  @use '../scss' as *;
</style>
